<div class="row cat-pad">
    <div class="col d-md-none">
        <a href="/category">
            <img 
                src= "images/Ginger Maisson Vintage mobile 3.png"
                alt="Esto es una imagen de una tela rosa de piel sintetica" 
                class="w-100">
        </a>
    </div>
    <div class="d-none d-md-flex col-md-4 ban-pad">        
        <a href="/">
            <img 
                src= "images/Ginger Maisson Vintage desktop.png"
                alt="Esto es una imagen de una tela rosa de piel sintetica" 
                class="w-90">
        </a>
    </div>
    <div class="col-md-8 mt-3 mt-md-0">
        <div class="row flex-wrap">                        
            <div class="container">
                <div class="row g-2 g-lg-3 justify-content-center">
                    <div class="col-6 col-md-3">                        
                        <div class="card categ-celeste">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category" class="ancor">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/shoes.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Calzado
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-amarillo">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/camisa.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Camisas/Blusas
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>                    
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-celeste">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/faldavint.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Faldas
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>                   
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-amarillo">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/pantalon.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Pantalones
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>               
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-amarillo">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/piloto.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Pilotos
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>                 
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-celeste">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/sacopng.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Sacos/Tapados
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>                   
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-amarillo">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/short_2.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Shorts/Bermudas
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>        
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-celeste">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/sweater.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Sweaters
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>         
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-celeste">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/vestido.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Vestidos
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>              
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card categ-amarillo">
                            <!-- Ancor que toma toda la card -->
                            <a href="/category">
                                <div class="card-body opacity" >
                                    <div>
                                        <img src="images/ropa/accesorios.png" alt="" class="text-center ratio-square">
                                    </div>
                                    <div class="position-absolute top-50 start-50 translate-middle w-100 cat-name p-2">
                                        <!-- Ancor que toma solo la tira de texto -->
                                        <a href="" class="cat-txt">
                                            Accesorios
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </div>              
</div>