

<div class="container-fluid separ-sect">
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2 zoom">
                  <div>
                      <img src="images/ropa/shoes.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>              
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/camisa.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-amarillo w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
                </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/faldavint.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x violeta w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/pantalon.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-amarillo w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/piloto.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span>
                <br> 
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/sacopng.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x violeta w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/short_2.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-amarillo w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/sweater.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/vestido.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x violeta w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/detail" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2">
                  <div>
                      <img src="images/ropa/accesorios.png" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail" class="">                
                <span>Saco vintage, 20 años de antiguedad, en perfecto estado.</span> 
                <br>
                <span class="bold">$6000</span>
              </a>
            </a>
        </div>
    </div>
</div>